@import './variables.less';
@import './reset.less';

@val: 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 28, 30, 32, 36, 40, 48, 50, 56, 60, 80;

each(@val, {
  //margin
  .m-@{value} {
    margin:@value * 1px;
  }
  .mt-@{value} {
    margin-top:@value * 1px;
  }
  .mr-@{value} {
    margin-right:@value * 1px;
  }
  .mb-@{value} {
    margin-bottom:@value * 1px;
  }
  .ml-@{value} {
    margin-left:@value * 1px;
  }
  .mtb-@{value} {
    margin-top:@value * 1px;
    margin-bottom:@value * 1px;
  }
  .mlr-@{value} {
    margin-left:@value * 1px;
    margin-right:@value * 1px;
  }

  //padding
  .p-@{value} {
    padding: @value * 1px;
  }
  .pt-@{value} {
    padding-top:@value * 1px;
  }
  .pr-@{value} {
    padding-right:@value * 1px;
  }
  .pb-@{value} {
    padding-bottom:@value * 1px;
  }
  .pl-@{value} {
    padding-left:@value * 1px;
  }
  .ptb-@{value} {
    padding-top:@value * 1px;
    padding-bottom:@value * 1px;
  }
  .plr-@{value} {
    padding-left:@value * 1px;
    padding-right:@value * 1px;
  }

  //fontSize
  .fs-@{value}{
    font-size:@value * 1px;
  }
});

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-auto {
  flex: auto;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.w-100 {
  width: 100%;
}

.text-clip {
  color: transparent;
  background: linear-gradient(90deg, #61b1ff 0%, #ffffff 100%);
  -webkit-background-clip: text;
}
