@primary: #2c8df4;
@success: #2ebc62;
@warning: #ff8330;
@danger: #eb4444;

@gray-26: #262a30;
@gray-31: #313233;
@gray-5c: #5c626b;
@gray-62: #626366;
@gray-93: #939599;
@gray-95: #959ba3;
@gray-a3: #a3b1cc;
@gray-c6: #c6c8cc;
@gray-df: #dfdfdf;
@gray-ee: #eeeeee;
@gray-f6: #f6f6f6;

.primary {
  color: @primary;
}

.success {
  color: @success;
}

.warning {
  color: @warning;
}

.danger {
  color: @danger;
}
